.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  text-transform: uppercase;
}
.board {
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aliceblue;
  min-width: 520px;
  max-width: 520px;
  margin: auto;
}
.board :nth-child(odd) {
  color: #f6c794;
}
.board :nth-child(even) {
  color: #fff6b3;
}

.cell {
  min-height: 132px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
  font-weight: bold;
  border: 1px solid #000;
  transform: none;
  outline: none;
  background-color: #6a80b9;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.cell:hover {
  background-color: #f0f0f0;
}
.cell:disabled:hover {
  background-color: #6a80b9;
  cursor: not-allowed;
}

button.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 0px;
  border: 1px solid #fff;
  padding: 0.25rem;
  cursor: pointer;
  background-color: #155e95;
  letter-spacing: 1px;
}

.winner-msg {
  margin-left: 0.5rem;
  color: Green;
  text-transform: uppercase;
}

.button-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
